@import "bootstrap/index";

@import "./theme";
@import "./variables";

@import "./exosite";

@navbar-height: 60px;
@header-color: @exo-navy;
@brand-primary: @exo-blue;
@brand-warning: @exo-orange;
@font-family-sans-serif: 'Arial',sans-serif;
@dropdown-link-hover-bg: @exo-navy;
@dropdown-link-hover-color: @exo-orange;
@border-radius-base: 2px;
@border-radius-large: 2px;
@border-radius-small: 2px;
@navbar-margin-bottom: 0px;
@list-group-hover-bg: @exo-navy;
@list-group-link-hover-color: @exo-orange;

// background for main and sidebar sections
@content-background: #FEFEFE;

body {
  background-color: @exo-grey;

  p > img {
    max-width: 100%;
    height: auto;
  }

  .navbar-top {
    box-shadow: 0 0 10px #1a1a1a;
    background-color: @header-color;
    // TODO: Hack to get around background-image taking predence over background-color
    background-image: linear-gradient(@header-color, @header-color);

    .navbar-brand {
      > img {
        height: 28px;
        margin-top: -3px;
      }
    }

    .navbar-text {
      margin-left: 30px;
      font-size: 16px;
      font-style: bold;
    }

    .active {
      background-color: @brand-primary;
      background-image: linear-gradient(@brand-primary, @brand-primary);
    }

    .mobile-docs {
      padding-left: 20px;
    }
  }

  .row {
    .sidenav-toggle {
      background-color: @brand-primary;
      color: @exo-navy;
      font-size: 24px;
      .icon-bar {
        background-color: @exo-navy;
      }
    }

    .sidenav {
      border-bottom: 5px solid @exo-blue;
      margin: 10px;
      box-shadow: 5px 5px 14px 0px #333;
      background-color: @content-background;
      padding: 10px 10px;

      .sidenav-header {
        color: @gray-light;
        font-size: 22px;
      }

      ul {
        margin-left: 5px;
        text-transform: uppercase;
        .menu-header {
          color: @gray-light;
          margin-top: 5px;
        }
        li {
          > a {
            text-transform: capitalize;
          }
        }
      }
    }

    .main {
      border-bottom: 5px solid @exo-blue;
      margin: 10px;
      padding: 40px;
      color: @gray-dark;
      background-color: @content-background;
      box-shadow: 5px 5px 14px 0px #333;

      h1 {
        text-transform: uppercase;
      }
    }
  }
}
